extends layout

block content
  h1= title
  p Welcome to #{title}
     main.main
        .card-container
    
         each acft in aircraft
                 li 
                 span= acft.acftName
                
